:root {
    --bg-color: #212121;
    --container-bg-color: #171717;
    --text-color: #FFFFFF;
    --detail-bg-color: #323232;
    --hover-bg-color: #515151;
    --primary-color: #10A37F;
    --secondary-color: #555;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    background: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.profile-container {
    width: 75%;
    max-width: 1100px;
    text-align: justify;
    background: var(--container-bg-color);
    padding: 15px;
    border-radius: 17px;
    color: var(--text-color);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.profile-about,
.profile-activity,
.profile-photo {
    flex: 1;
}

.profile-about,
.profile-activity {
    padding: 0 20px;
    border-radius: 10px;
    background: var(--detail-bg-color);
    color: #DDDDDD;
    margin-right: 17px;
}

.profile-photo img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
    padding-right: 17px;
}

.profile-photo img:hover {
    transform: scale(1.1);
}

.gpt-container,
.hidden-gpts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.gpt-profile {
    text-align: center;
    width: calc(33.333% - 40px);
    margin: 10px;
    background: var(--detail-bg-color);
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: #E0E0E0;
    transition: background-color 0.3s;
}

.gpt-profile:hover {
    background-color: var(--hover-bg-color);
}

.gpt-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.gpt-profile:hover .gpt-photo {
    transform: scale(1.05);
}

.more-gpts,
#tryNow,
#closeDetail {
    display: block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
    text-decoration: none;
}

.more-gpts:hover,
#closeDetail:hover {
    background-color: var(--secondary-color);
}

.gpt-detail-view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: auto;
    max-height: 100vh;
    overflow-y: auto;
    background: var(--bg-color);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 1001;
    text-align: center;
}

.gpt-detail-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.gpt-detail-container video {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .profile-container {
        padding: 10px;
    }

    .gpt-profile {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    .profile-container,
    .gpt-detail-view {
        width: 95%;
    }

    .gpt-profile {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .profile-container,
    .gpt-detail-view {
        padding: 5px;
    }

    .gpt-profile {
        width: 100%;
        margin: 10px 0;
    }
}

.hidden-gpts {
    display: none;
}

.gpt-detail-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
#tryNow,
#closeDetail {
    margin: 0;
}
#tryNow:hover {
    font-size: 1.05em; /* Slightly larger font size on hover */
    font-weight: bold; /* Makes the font bold on hover */
    transition: font-size 0.3s ease, font-weight 0.3s ease; /* Smooth transition for font size and weight */
}
.gpt-detail-buttons a,
.gpt-detail-buttons button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
    max-width: 150px; /* This sets the maximum width of the buttons */
    width: auto;
}

#closeDetail {
    background-color: var(--container-bg-color);
}

.gpt-detail-buttons a:hover,
.gpt-detail-buttons button:hover {
    background-color: var(--secondary-color);
}
.coming-soon {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
}

.gpt-profile:hover .coming-soon {
    display: block;
}

.gpt-profile {
    position: relative; /* Ensure the dialogue positions correctly */
}
.loading-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 2000;
}

.rotate {
    display: inline-block;
    animation: rotateLetter 2s linear forwards;
}

@keyframes rotateLetter {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

