body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #212121; /* Dark background */
}

.profile-container {
    width: 75%;
    max-width: 1100px;
    text-align: justify;
    background: #171717; /* Darker shade for container */
    padding: 15px;
    border-radius: 17px;
    color: #FFFFFF; /* Light text for better readability */
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.profile-about,
.profile-activity,
.profile-photo {
    flex: 1;
}

.profile-about,
.profile-activity {
    padding: 0 20px;
    border-radius: 10px;
    background: #272727; /* Adjusted to a slightly lighter shade for contrast */
    color: #DDDDDD;
    margin-right: 17px; /* Light text color for readability */
}

.profile-photo img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
    padding-right: 17px; 
}

.profile-photo img:hover {
    transform: scale(1.1);
}

.gpt-container,
.hidden-gpts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; /* Ensures that the flex items are the same height */
}

.gpt-profile {
    text-align: center;
    width: calc(33.333% - 40px);
    margin: 10px;
    background: #323232; /* Darker shade for individual profile cards */
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: #E0E0E0; /* Lighter text for readability */
    transition: background-color 0.3s;
}

.gpt-profile:hover {
    background-color: #515151; /* Hover effect for cards */
}

.gpt-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}
.gpt-profile:hover .gpt-photo {
    transform: scale(1.05);
}


.more-gpts {
    display: block;
    padding: 10px 20px;
    background-color: #10A37F;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
}

.more-gpts:hover {
    background-color: #555;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF; /* Ensure headings are readable */
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .profile-container {
        padding: 10px;
    }

    .gpt-profile {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .profile-container {
        padding: 5px;
    }

    .gpt-profile {
        width: 100%;
        margin: 10px 0;
    }
}

.hidden-gpts {
    display: none;
}
